[submodule "lib/increment-protocol"]
	path = lib/increment-protocol
	url = git@github.com:Increment-Finance/increment-protocol
[submodule "lib/governance"]
	path = lib/increment-governance
	url = git@github.com:Increment-Finance/governance
[submodule "lib/solidity-stringutils"]
	path = lib/solidity-stringutils
	url = git@github.com:Arachnid/solidity-stringutils
