[submodule "lib/increment-protocol"]
	path = lib/increment-protocol
	url = https://github.com/Increment-Finance/increment-protocol
[submodule "lib/governance"]
	path = lib/increment-governance
	url = https://github.com/Increment-Finance/governance.git
