name: unit-test

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "contracts/**"
      - "test/**"
      - ".github/**"

env:
  FOUNDRY_PROFILE: ci
  MAINNET_RPC_URL: ${{ secrets.MAINNET_RPC_URL }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.PROTOCOL_DEPLOY_KEY }}
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Compile
        run: forge build

      - name: Run Forge unit tests
        run: |
          forge test --match-path "test/unit/**" -vvv
        id: test
